<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<bean id="page" class="com.zjj.util.common.Page"></bean>
	
	<bean id="hibernateBasic" class="com.zjj.util.HibernateBasic">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--  Dao 注入 -->
	<bean id="userDao" class="com.zjj.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="shiroDao" class="com.zjj.dao.impl.ShiroDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="shiroResourceDao" class="com.zjj.dao.impl.ShiroResourceDaoImpl">
		<property name="hibernateBasic" ref="hibernateBasic"></property>
	</bean>
	<bean id="shiroRoleDao" class="com.zjj.dao.impl.ShiroRoleDaoImpl">
		<property name="hibernateBasic" ref="hibernateBasic"></property>
	</bean>
	
	<!--  Service 注入 -->
	<bean id="userService" class="com.zjj.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="shiroService" class="com.zjj.service.impl.ShiroServiceImpl">
		<property name="shiroDao" ref="shiroDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="resourceService" class="com.zjj.service.impl.ShiroResourceServiceImpl">
		<property name="shiroResourceDao" ref="shiroResourceDao"></property>
	</bean>
	<bean id="roleService" class="com.zjj.service.impl.ShiroRoleServiceImpl">
		<property name="shiroRoleDao" ref="shiroRoleDao"></property>
	</bean>
	
	<!-- Action 注入 -->
	<bean id="userAction" class="com.zjj.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="studentAction" class="com.zjj.action.StudentAction" scope="prototype"></bean>
	
	<bean id="adminAction" class="com.zjj.action.AdminAction" scope="prototype">
		<property name="userService" ref="userService"></property>
		<property name="resourceService" ref="resourceService"></property>
		<property name="roleService" ref="roleService"></property>
		<property name="shiroService" ref="shiroService"></property>
		<property name="page" ref="page"></property>
	</bean>
	
	<bean id="teacherAction" class="com.zjj.action.TeacherAction" scope="prototype"></bean>
	
	<bean id="adminAsynAction" class="com.zjj.action.AdminAsynAction" scope="prototype">
		<property name="resourceService" ref="resourceService"></property>
		<property name="roleService" ref="roleService"></property>
	</bean>
</beans>
